{
    margin: 0;
    padding: 0;
}
body {

    background-color: rgb(43, 12, 182);
}

#banner {
    width: 100;
}

h1 {
    font-size: 50px;
    color: rgb(64, 241, 233);
    text-align: center;
    text-transform: uppercase;
}

.textos {
    width: 80%;
    align-content: center;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}